<ng-container *ngIf="loadingStatus; else isLoaded;">
    {{loadingStatus}}
</ng-container>
<ng-template #isLoaded>
    <div class="container">
        <div class="title">{{team.full_name}} [{{team.abbreviation | uppercase}}]</div>
        <div class="subtitle"><span *ngIf="team.conference.trim()==''">Not identified</span>{{team.conference}}
            conference</div>
        <div class="row">
            <div class="col">
                <div>
                    Scores of past 12 days:
                </div>
                <div *ngIf="games.length==0">Not any game from last 12 days ago for this team</div>
                <div *ngFor="let game of games" class="row-score">
                    <b>{{game.home_team.abbreviation | uppercase}}</b> {{game.home_team_score}} -
                    {{game.visitor_team_score}} <b>{{game.visitor_team.abbreviation | uppercase}}</b>
                </div>

            </div>
        </div>
        <div class="row">
            <button id="backBtn" class="back-btn" routerLink="/">
                << Back to all team stats</button>
        </div>
    </div>
</ng-template>